@model ASP_Net_webApp.Models.MayTinh

@{
    ViewBag.Title = "Thêm Máy Tính cho đơn Hàng";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Thêm Máy Tính cho đơn Hàng</h4>
            <a href="~/DonHang/ThemDonHang" style="float:right;">Thêm Đơn Hàng</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input name="idDonHang" value="@ViewBag.idDonHang" />
                <input name="maMay" value="@Model.MaMay" readonly />

                <div class="form-group">
                    @Html.LabelFor(model => model.DongMay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DongMay, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DongMay, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NgaySanXuat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NgaySanXuat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgaySanXuat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HangSanXuat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HangSanXuat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HangSanXuat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>

