@model ASP_Net_webApp.Models.DonHang

@{
    ViewBag.Title = "Cap Nhat Đơn Hàng";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Cap Nhat Don Hang</h5>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.ID)

                    <div class="form-group">
                        <label class="control-label col-md-2">Tên Khách Hàng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Số Điện Thoại</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Địa CHỉ Giao Hàng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DiaChiGiaoHang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChiGiaoHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">NGày Giao Hàng</label>
                        <div class="col-md-10">
                            <input class="form-control" name="NgayDatHang" value="@Html.Raw((Model.NgayDatHang??DateTime.Now).ToString("yyyyy-MM-dd HH:mm").Replace(' ','T'))" type="datetime-local" />
                            @Html.ValidationMessageFor(model => model.NgayDatHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

