@model IEnumerable<ASP_Net_webApp.Models.KhachHang>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.active = 2;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Danh Sách Khách Hàng</h3>
            <p>
                <a href="~/KhachHang/ThemMoi" style="float:right">Thêm Mới </a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenKhachHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoDienThoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>Loại Khách Hàng</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @*Sử dụng lenh find*@
                            @{
                                ASP_Net_webApp.Models.BanHang_TestEntities1 db = new ASP_Net_webApp.Models.BanHang_TestEntities1();
                                var loai = db.LoaiKhachHangs.Find(item.idLoaiKhachHang);
                                if (loai != null)
                                    {
                                        <span>@loai.TenPhanLoai</span>
                                    }
                            }
@*  Hoặc có thể dung cái tiếp nhưng nó có lỗi hoi nhiều *@
                            @*@{ 
                                if(item.idLoaiKhachHang != null)
                                    {
                                        <span>@item.LoaiKhachHang.TenPhanLoai</span>
                                    }
                            }*@
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "XoaKhachHang", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
