@model IEnumerable<ASP_Net_webApp.Models.spDanhSachKhachHang_Result>
@using ASP_Net_webApp.Models;
@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.active = 2;
    BanHang_TestEntities1 db = new BanHang_TestEntities1();
    List<LoaiKhachHang> listLoaiKH = db.LoaiKhachHangs.ToList();
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Danh Sách Khách Hàng</h3>
            <p>
                <a href="~/KhachHang/ThemMoi" style="float:right">Thêm Mới </a>
            </p>
            <div class="col-xs-12">
                <form method="get">
                    <div class="col-xs-2">
                        <input type="text" name="fitter" value="@ViewBag.fitter" class="form-control" placeholder="Nhâp Tên Hoặc số Điện thoại"/>
                    </div>
                    <div class="col-xs-2">
                        <select name="idLoaKh"  class="form-control">
                            <option value="">Tất cả</option>
                            @foreach (var loai in listLoaiKH)
                                {
                                    <option value="@loai.ID" @Html.Raw(loai.ID == ViewBag.idLoaKh ? "selected" : "" )>@loai.TenPhanLoai</option>
                                }
                        </select>  
                    </div>
                    <div class="col-xs-2">
                        <button type="submit"class="btn btn-success">Tìm</button>
                    </div>
                </form>
            </div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenKhachHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoDienThoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>Loại Khách Hàng</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @item.PhanLoai    
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "XoaKhachHang", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
